<footer id="footer">
    <div class="container">
        <h2>
            <a href="/index.html"><img src="/img/logo_01.svg" alt=""></a>
        </h2>
        <div class="company_info">
            <nav>
                <ul class="footer_menu">
                    <li><a href="/sub/company.html">회사소개</a></li>
                    <li><a href="/sub/ft_menu/market_policy.html">이용약관</a></li>
                    <li><a href="/sub/ft_menu/personal_policy.html">개인정보처리방침</a></li>
                    <li><a href="/sub/ft_menu/guide.html">이용안내</a></li>
                    <li><a href="/sub/ft_menu/advertisement_form.html">광고/제휴문의</a></li>
                </ul>
            </nav>
            <p>대표이사:&nbsp;이한별&nbsp;&nbsp;주소:&nbsp;경기도 의정부시 </p>
            <p>COPYRIGHT&copy;homechelin.all right reserved</p>
        </div>
        
        <div class="service_info">
            <h5>고객센터</h5>
            <a href="tel:+010-8846-8535">010-8846-8535</a>
            <span>평일 09:00AM-06:00PM<br>점심12:00PM-01:00PM<br>주말,공휴일 OFF</span>
        </div>
        
    </div>


</footer>
</body>
</html>