<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homechelin</title>
    <!---파비콘-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <!---파비콘끝-->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/scss/main.min.css">
    <link rel="stylesheet" href="/scss/sub.min.css">
    <link rel="stylesheet" href="/scss/sub_02.min.css">
    <link rel="stylesheet" href="/scss/sub_03.min.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="util_menu">
                <ul>
                    <li><a href="/sub/login.html">로그인</a></li>
                    <li><a href="/sub/join_01.html">회원가입</a></li>
                    <li><a href="/sub/my_page/my_main.html">마이페이지</a></li>
                    <li><a href="/sub/help/help_customer.html">고객센터</a></li>
                    <li>
                        <div id="search_icon"><img src="/img/icon_search.svg" alt=""></div>
                        <div id="search_pb">
                            <div class="search_pop">
                                <button id="close_sp">&times;</button>
                                <input type="text" placeholder="검색어를입력하세요">
                                <input type="submit" id="search_2" >
                                <label for="search_2"><img src="/img/icon_search.svg" alt=""></label>
                                <div class="kw_wrap"> 
                                    <h4>인기검색어</h4> 
                                    <ul class="search_kw">
                                        <li><a href="#none">#나루 생 막걸리</a></li>
                                        <li><a href="#none">#달잔</a></li>
                                        <li><a href="#none">#허니와인</a></li>
                                        <li><a href="#none">#고도리 와인</a></li>
                                        <li><a href="#none">#삼양춘</a></li>
                                    </ul>
                                </div>  
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <h1><a href="/index.html"><img src="/img/logo_01.svg"></a></h1>
            <nav id="main_depth">
                <ul class="depth_01">
                    <li>
                        <a href="/sub/company.html">회사소개</a>
                        <ul class="depth_02">
                            <li><a href="/sub/company.html">브랜드소개</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/sub/subscribe_info.html">구독서비스</a>
                        <ul class="depth_02">
                            <li><a href="/sub/subscribe_info.html">구독서비스소개</a></li>
                            <li><a href="/sub/subscribe_pay.html">구독페이지</a></li>
                            <li><a href="/sub/like_test.html">취향테스트</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/sub/shop/shop_main.html">쇼핑몰</a>
                        <ul class="depth_02">
                            <li><a href="/sub/shop/sool_main.html">전통주</a></li>
                            <li><a href="/sub/shop/gift_set_01.html">선물세트</a></li>
                            <li><a href="/sub/shop/sool_jan_01.html">술잔</a></li>
                        </ul>
                        <div class=""></div>
                    </li>
                    <li>
                        <a href="/sub/event.html">이벤트</a>
                        <ul class="depth_02">
                            <li><a href="/sub/event.html">진행중인이벤트</a></li>
                            <li><a href="/sub/event_02.html">종료된이벤트</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/sub/community/notice_01.html">커뮤니티</a>
                        <ul class="depth_02">
                            <li><a href="/sub/community/notice_01.html">공지사항</a></li>
                            <li><a href="/sub/community/review_main.html">구매후기</a></li>
                            <li><a href="/sub/community/qna_01.html">Q&A</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="back"></div>
            </nav>
        </div>
    </header>
